/* ------------------------------------------------------------------ */
/* 메인페이지 */

#wrap{
    font-size: 0;
    /* border: 1px solid red; */
    padding: 50px 150px;
}

#wrap .section1{
    /* border: 1px solid red; */
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    vertical-align: top;
}
#wrap .section2{
    /* border: 1px solid red; */
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    vertical-align: top;
}
#wrap .section3{
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    padding: 25px;
    vertical-align: top;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5%;
}

.section3 h3{
	margin: 0;
	margin-bottom: 8px;
	font-size: 18px;
}

/* ------------------------------------------------------------------ */
/* 휴관일 */
.section1 #hukwan{
    display: flex;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 3%;
}


.section1 #calendar {
    text-align: center;
    /* margin: 0 auto; */
    /* border: 1px solid black;
    border-radius: 5%; */
    padding: 10px;
    width: 300px;
}

.section1 #calendar .calHeader {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.section1 #calendar #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 
    grid-template-columns : CSS의 Grid 레이아웃에서 사용되는 속성 중 하나로, 
    그리드 컨테이너(grid container)의 열(column) 크기를 지정하는 것을 말한다.
    repeat(7, 1fr) : 1행에 7개의 열이 있으며, 
    각 열의 크기를 동일하게 1분의 1(fractional unit, fr)로 설정하라는 의미한다. 
    */
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.section1 #calendar #dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.section1 #calendar #dates .date {
    width: 20px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    font-size: 15px;
}

.section1 #calendar #dates .toDay{
    border: 2px solid rgb(106, 170, 82);
    border-radius: 50%;
}

.section1 #calendar #dates .toDay:after{
    font-size: 10px;
    content:"TODAY";
    position: relative;
    top: 19px;
    left: -23px;
    color: black;
    z-index: -1;
}

.section1 #calendar #dates .hu_1,
.section1 #calendar #dates .hu_2{
    border: 1px solid rgb(106, 170, 82);
    background: rgb(106, 170, 82);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
}
/* 입고일 스크립트 */
.section1 #calendar #dates .hu_3{
    border: 1px solid rgb(34, 194, 186);
    background: rgb(34, 194, 186);
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    color: white;
}

.section1 #librarys {
    /* border: 2px solid rgb(106, 170, 82); */
    background: rgba(172, 229, 151, 0.637);
    border-radius: 10px;
    height: 320px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
}

.section1 #librarys .library{
    border-radius: 20%;
    padding: 10px;
    font-size: 18px;
}

.section1 #librarys .back{
    width: 40px;
    margin: 0 auto;
    background: rgb(105, 170, 82);
    color: white;
}
.circle_1 {
    border: 1px solid rgb(106, 170, 82);
    background: rgb(106, 170, 82);
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    display: inline-block;
}
.circle_2 {
    border: 1px solid rgb(34, 194, 186);
    background: rgb(34, 194, 186);
    border-radius: 50%;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    color: white;
    display: inline-block;
}
#hukwan_bot{
    width: 100%;
    text-align: right;
    margin-top: 5px;
}

#hukwan_bot small{
	margin-right: 5px;
}

/* ------------------------------------------------------------------ */
/* 검색 */
.section1 #search{
    font-size: 0;
}

.section1 #search #searchText{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.section1 #search #searchIn{
    font-size: 17px;
    height: 50px;
    width: 85%;
}

.section1 #search #searchBnt{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 56px;
    width: 55px;
    border: 1px solid 106, 170, 82;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.867);
    background-color: rgb(106, 170, 82);
}

/* ------------------------------------------------------------------ */
/* 페이지 이동 */
.section1 #pageall{
    text-align: center;
}

.section1 #pageall .pages{
    display: flex;
    justify-content: space-around;
}

.section1 #pageall .pages .page{
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10%;         
    width: 80px;
    height: 80px;
}

.section1 #pageall .pages .page .material-symbols-outlined {
    line-height: 75px;
    font-size: 55px;
    color: rgb(106, 170, 82);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* 차트 */
.section1 #chartName{
	text-align: center;
	font-weight: 900;
	font-size: 18px;
	margin: 15px 0;
}

table tbody td{
    padding: 15px 0;
    height: 35px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 말줄임표(...) 적용 */
}

#table{
	height: 580px;	
}

table {
	table-layout:fixed;
    border: 1px solid #ccc;
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

th {
    text-align: center;
    border-bottom: 2px solid #ccc;
}

thead {
    font-weight: bold;
}

thead td{
	border-bottom: 2px solid #ccc;
}

td,
th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid #ccc;
    background: #fff;
}

/* ------------------------------------------------------------------ */
/* section2 */
/* 공지사항 */
.section2 #noticewrap{
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 3%;
    height: 210px;
}

.section2 #noticewrap #noticetitle{
    font-size: 18px;
    font-weight: 700;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.section2 #noticewrap #noticetitle span{
    vertical-align: bottom;
    font-size: 30px;
}


.section2 #noticewrap ul {
    list-style: none;
    padding-left: 20px;
}

.section2 #noticewrap .notice{
    margin-bottom: 15px;
}

.section2 #noticewrap .notice .nbox{
    border: 2px solid rgb(106, 170, 82);
    border-radius: 5px;
    display: inline-block;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.section2 #noticewrap .notice .all{
    border: 2px solid rgb(106, 170, 82);
}

.section2 #noticewrap .notice .joong{
    border: 2px solid rgb(82, 150, 170);
}

.section2 #noticewrap .notice .noticeTD{
    vertical-align: top;
    height: 50px;
    margin-left: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.section2 #noticewrap .notice .noticeTD .title{
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section2 #noticewrap .notice .noticeTD .update{
    font-size: 12px;
}

.main_page {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
	#wrap {
		font-size: 0;
    	padding: 50px 20px;
	}
	
	#section {
	    display: flex; 
	    justify-content: space-between;
	    width: 100%;
	}
}
	
/* 반응형 웹 - 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
	#wrap {
		font-size: 0;
    	padding: 50px 30px;
	}
}

/* 반응형 웹 - 모바일 */
@media (max-width: 767px){
	#wrap {
		font-size: 0;
    	padding: 50px 80px;
	}
	
	#wrap .section1,
	#wrap .section2, 
	#wrap .section3 {
		width: 100%;
		padding: 20px 0;
	}
	
	#section {
	    display: flex; 
	    width: 100%;
	    flex-direction: column;
	}
}
#orderDeliveryChart{
	
	width: 300px;
	height: 300px;
}
