

aside #items #i2 .material-symbols-outlined{
    background: rgb(165, 224, 144);
}

header #menu #items #i5{
    font-weight: 900;
    text-decoration: underline;
}

.material-symbols-outlined{
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#wrap{
    font-size: 0;
    /* border: 1px solid red; */
    padding: 30px 150px;
}


#wrap section {
    width: 80%;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 30px;
    /* border: 1px solid red; */
}

section #stitle h3{
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 17px;
    box-sizing: border-box;
}

section #smenu{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

section #smenu .text{
    margin-right: 7px;
}

/* 테이블 */
section #table_btn{
    /* border: 1px solid red; */
    padding: 10px 30px 50px 30px;
    box-sizing: border-box;
    width: 100%;
}

section .table{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 100%;
}


/* ------------------- 테이블 -------------------- */
section table{
    table-layout:fixed;
    border-collapse: collapse;
    width: 100%;
}

section table thead{
    text-align: center;
    border-bottom: 2px solid #ccc;
}

section table thead td{
    /* border: 1px solid red; */
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 말줄임표(...) 적용 */
    overflow: hidden; /* 넘어가는 부분 안 보이게 */
    white-space: nowrap; /* 줄바꿈 X */
}

section table tbody td{
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    
}

section #table_btn .table tbody td,
section #table_btn .table thead td{
	 border: none;
	 vertical-align: middle;
}


section #table_btn table tbody .border-bottom{
	border-bottom: 1px solid #ccc;
}

section table tbody td:not(.book){
    text-align: center;
}

section table tbody #cartNull{
	padding-top: 65px;
	padding-left: 65px;
}

section table tbody .bookTitle{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 5px;
}

section table tbody .book{
	padding-left: 10px;
}

section table tbody #info{
	font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 0;
	border: none;
	text-overflow: ellipsis; /* 말줄임표(...) 적용 */
    overflow: hidden; /* 넘어가는 부분 안 보이게 */
    white-space: nowrap; /* 줄바꿈 X */
}

section table tbody .wirter{
    vertical-align: top;
    -left: 15px;
    padding-top: 5px;
    font-size: 14px;
}

section table tbody .wirter span{
	margin-right: 8px;
}

section table tbody .bookCover img{
    width: 60px;
}

section #bntall{
    /* border: 1px solid red; */
    text-align: right;
    margin-top: 40px;
    margin-right: 10px;
}

section #bntall .bnt{
    font-size: 14px;
    width: 150px;
    padding: 8px;
}

section #bntall #reserchk{
    background: white;
    border: 1px solid rgb(106, 170, 82);
    border-radius: 5%;
    margin-bottom: 5px;
}

section #bntall #reserall,
section #bntall #delall{
    border-radius: 5%;
    background: rgb(165, 224, 144);
    border: 1px solid rgb(106, 170, 82);
}

/*------------------------------------------------------------*/
.modal{
    margin: 0 auto;
    border: 1px solid rgb(51, 51, 51);
    width: 500px;
    text-align: left;
    z-index: 100;
}

.modal .invenLibrary{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.modal .invenLibrary .library{
    font-size: 18px;
    font-weight: 900;
}

.modal .invenLibrary .addr,
.modal .invenLibrary .call{
    font-size: 13px;
    color: gray;
    display: inline-block;
    margin-right: 7px;
}

.modal .invenLibrary .material-symbols-outlined{
    vertical-align: middle;
    font-size: 13px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.modal .invenLibrary .realInven{
   margin-top: 5px; 
   margin-left: 15px;
   font-size: 17px;
}

.modal .invenLibrary .realInven span{
    font-size: 21px;
    margin-left: 3px;
    color: red;
    font-weight: 900;
}

.modal .close{
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
}

.modal .close .material-symbols-outlined{
    font-size: 26px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.modal .library_{
    display: inline-block;
    width: 80%;
    /* border: 1px solid red; */
}

.modal .btnbox{
    display: inline-block;
    width: 15%;
    text-align: center;
}

.modal .btnbox .realReserBnt,
.modal .btnbox .noneReserBnt{
    padding: 5px;
    width: 80px;
}
