@charset "UTF-8";

body {
	/* height: 1000px; */
	margin: 0;
}

#logout {
	vertical-align: top;
    font-weight: 700;
    
}

#logout:hover{
	text-decoration: underline;
}

#top {
	/* border: 1px solid red; */
	background-color: rgb(165, 224, 144);
	width: 100%;
	height: 100px;
	color: rgba(0, 0, 0, 0.705);
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body .left {
	float: left;
}

body .right {
	float: right;
}

header #logoall #logo {
	margin: 5px 5px 0 40px;
	/* border: 1px solid red; */
	width: 120px;
	height: 90px;
	background-image: url("../../img/logo.png");
	background-size: 100%;
	background-position: 50%;
	opacity: 0.9;
}

header #logoall #name {
	margin: 25px 25px 0 0;
	text-align: center;
	font-size: 20px;
	width: 130px;
	font-weight: 900;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

header #menu {
	width: 100%;
	padding: 40px 0;
}

header #menu #items .item {
	/* border: 1px solid red; */
	font-size: 20px;
	margin: 0 35px;
	display: inline-block;
}

header #menu #userall {
	/* border: 1px solid red; */
	width: 200px;
	height: 20px;
	margin: 5px 0;
	margin-right: 40px;
	font-size: 16px;
}

header #menu #userall .inb {
	vertical-align: top;
	display: inline-block;
}

header #menu #userall #user {
	font-size: 16px;
	font-weight: 600;
}

header #menu #userall .material-symbols-outlined {
	color: rgba(0, 0, 0, 0.705);
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

/* 페이지 이동 */
#movepage {
	/* border: 1px solid red; */
	margin: 30px 0;
	text-align: center;
}

#movepage span {
	vertical-align: middle;
	color: #666666;
	/* border: 1px solid red; */
}

#movepage .chap {
	display: inline-block;
	font-size: 16px;
	width: 20px;
	color: #1b1b1b;
}

#movepage #one {
	border-bottom: 1px solid #1b1b1b;
}

#movepage .material-symbols-outlined {
	font-size: 21px;
}

/* ------------------------------------------------------------------ */
footer {
	margin-top: 50px;
}

footer #bottom {
	background-color: rgb(73, 73, 73);
	width: 100%;
	height: 90px;
	color: rgba(255, 255, 255, 0.808);
}

footer #logoall #logo {
	margin: 10px 10px 0 40px;
	/* border: 1px solid white; */
	width: 90px;
	height: 70px;
	background-image: url("../../img/logo.png");
	background-size: 100%;
	background-position: 50%;
	opacity: 0.8;
}

footer #logoall #name {
	margin: 25px 30px 0 0;
	text-align: center;
	font-size: 17px;
	width: 100px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.401);
}

footer #footerinfo {
	padding: 40px 30px 0 0;
	font-size: 13px;
}

/* 메뉴 아코디언 */
ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.menu1 {
	height: 60px;
}

.menu1>li {
	float: left;
	text-align: center;
	line-height: 40px;
	position: relative;
}

/* 서브메뉴 크기 통일 */
.submenu {
	text-align: center;
	display: none;
	position: absolute;
	top: 60px;
	left: -10px;
	background: white;
	z-index: 1000;
	padding: 0;
	width: 210px; /* 서브메뉴 너비 고정 */
	height: 250px;
	font-size: 17px;
	border-left: 1px solid #ccc;
}

.borderNone {
	border: none;
}

/* 전체 메뉴에 호버할 때 서브메뉴 표시 */
.menu1:hover .submenu, .submenu li:hover {
	display: block;
}

/* 서브메뉴 항목 스타일 */
.submenu li {
	font-weight: 500;
	text-align: left;
	padding: 5px 10px;
	white-space: nowrap; /* 서브메뉴 항목이 줄바꿈되지 않도록 설정 */
}

/* 서브메뉴 항목 호버 시 */
.submenu>li:hover {
	text-decoration: underline;
}

/* clearfix를 사용해 플로트 요소 정리 */
.menu1::after {
	content: "";
	display: block;
	clear: both;
}

#block {
	display: none;
	position: absolute;
	top: 100px;
	left: 0;
	background: white;
	z-index: 100;
	width: 100%;
	height: 250px;
	border-bottom: 2px solid #ccc;
}

/* 햄버거 메뉴 스타일 설정 */
#hamburger-menu {
	display: none;
	position: relative;
	width: 28px;
	height: 17px;
	cursor: pointer;
	margin-right: 10px;
	position: relative;
}

#hamburger-menu .bar {
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.705);
	left: 0;
}

#hamburger-menu .bar:first-child {
	top: 0;
	transform-origin: 25% 50%;
	transition: .3s;
}

#hamburger-menu .bar:nth-child(2) {
	top: calc(48% - 1px);
}

#hamburger-menu .bar:last-child {
	bottom: 2px;
	transform-origin: 25% 50%;
	transition: .3s;
}

#hamburger-menu.on .bar:first-child {
	transform: rotate(45deg) translateX(10%);
}

#hamburger-menu.on .bar:nth-child(2) {
	opacity: 0;
}

#hamburger-menu.on .bar:last-child {
	transform: rotate(-45deg) translateX(10%);
}

/* 반응형 웹 - 모바일 */
@media ( max-width : 767px) {
	header #menu #items, header #menu #userall {
		opacity: 0; /* 초기 투명도 */
	    transform: translateY(-20px); /* 초기 위치 */
	    transition: opacity 0.3s ease, transform 0.3s ease; /* 애니메이션 효과 */
	}
	
	/* 표시할 때의 스타일 */
	header #menu #items.show, header #menu #userall.show {
	    display: block; /* 블록으로 표시 */
	    opacity: 1; /* 완전 불투명 */
	    transform: translateY(0); /* 원래 위치로 이동 */
	}
	
	header #logoall #logo {
		margin: 5px 5px 0 15px;
	}
	
	#hamburger-menu {
		display: flex;
	}

	/* 메뉴 위취 및 스타일 */
	
	header #menu #items {
		width: 100%;
	}
	
	header #menu #userall {
		position: absolute;
		top: 32px;
		left: 73%;
	}
	
	header #menu #items .item {
		margin: 0;
		background: white;
		padding: 10px 0;
	}
	
	header #menu #items .item:hover{
		background: #f6f6f6;
	}
	
	header #menu #items .item li {
		text-align: center;
	}
	
	header #menu #items #i4{
		border-bottom: 2px solid #ccc;
	}

	/* 아코디언 */
	.menu1 {
		display: flex;
		flex-direction: column;
	}
	
	/* 모바일에서 hover 효과 제거 */
	.menu1:hover .submenu, .submenu li:hover {
		display: block; /* hover 시 서브메뉴 숨김 */
	}

	/* 클릭 시 해당 submenu만 block */
	.submenu {
		display: block;
		position: relative;
		top: auto;
		left: 0;
		max-height: 0;
		overflow: hidden;
		height: auto;
		width: 100%;
		font-size: 20px;
		transition: max-height 0.3s ease-in-out;
	}
	
	.item.active .submenu {
		max-height: 200px;
		border-top: 1px solid silver;
		border-bottom: 1px solid silver;
		transition: max-height 0.3s ease-in-out;
	}
	
	.item li {
		background: #f1f1f1;
	}
}